storage/wsdl/transport_orders.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:std="http://api.schenker.pl/StandardTypes/" xmlns="http://api.schenker.pl/TransportOrders/" targetNamespace="http://api.schenker.pl/TransportOrders/">
<xs:import namespace="http://api.schenker.pl/StandardTypes/" schemaLocation="https://testapi2.schenker.pl/services/TransportOrders?xsd=StandardTypes.xsd"/>
<xs:complexType name="WrongClientId">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PostalCodeNotFound">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="postalCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DistanceNotDefined">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="postalCode1" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="postalCode2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DictionaryNotFound">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClientNotFoundFault">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderParamsMissing">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="orderNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="reference" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderNumberMissing">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="orderNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferenceMissing">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="reference" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderDataMissing">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="orderNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="reference" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TrackingFault">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="reference" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="referenceType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="WrongNipNumber">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="nipNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderNotFound">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="orderNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusNotKnown">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="orderNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransportOrderFaultRow">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="errorCode" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="1" name="errorMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransportOrderFaultList">
<xs:sequence>
<xs:element maxOccurs="999" minOccurs="1" name="transportOrderFaultRow" type="TransportOrderFaultRow"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelOrderRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="1" name="orderId" type="std:WaybillNumber"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelOrderResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="result" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="iError" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="cError" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createManifestRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
<xs:element minOccurs="0" name="zdnNo" type="xs:string"/>
<xs:element minOccurs="0" name="zrDanych" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="waybNos" type="ZdnWaybNosType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createManifestResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="statusCode" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="zdnNo" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ZdnWaybNosType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="waybNo" type="std:WaybillNumber"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="labelNo" type="std:LabelNumber"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="0" name="installId" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="dataOrigin" type="DataOrigin"/>
<xs:element maxOccurs="1" minOccurs="0" name="waybillNo" type="std:WaybillNumber"/>
<xs:element maxOccurs="1" minOccurs="1" name="product" type="std:Product"/>
<xs:element maxOccurs="1" minOccurs="1" name="pickupFrom" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="1" name="pickupTo" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="0" name="deliveryFrom" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="0" name="deliveryTo" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="0" name="comment" type="std:CommentType"/>
<xs:element maxOccurs="1" minOccurs="0" name="deliveryInstructions" type="std:DeliveryInstructions"/>
<xs:element maxOccurs="1" minOccurs="1" name="sender" type="Party"/>
<xs:element maxOccurs="1" minOccurs="1" name="recipient" type="Party"/>
<xs:element maxOccurs="1" minOccurs="1" name="payer" type="Party"/>
<xs:element maxOccurs="1" minOccurs="1" name="packages" type="ColliList"/>
<xs:element maxOccurs="1" minOccurs="0" name="ssccMatching" type="xs:boolean"/>
<xs:element maxOccurs="1" minOccurs="0" name="sscc" nillable="true" type="SsccList"/>
<xs:element maxOccurs="1" minOccurs="0" name="adrs" nillable="true" type="AdrList"/>
<xs:element maxOccurs="1" minOccurs="0" name="services" nillable="true" type="ServiceList"/>
<xs:element maxOccurs="1" minOccurs="0" name="references" nillable="true" type="ReferenceList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="statusCode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="OK"/>
<xs:enumeration value="CREATED"/>
<xs:enumeration value="NOTFOUND"/>
<xs:enumeration value="ERROR"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="orderId" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="params">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="param" type="KeyValuePair"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="sscc" type="SsccList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Party">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="0" name="clientIln" type="std:Iln"/>
<xs:element maxOccurs="1" minOccurs="1" name="name1" type="std:LongName"/>
<xs:element maxOccurs="1" minOccurs="0" name="name2" type="std:LongName"/>
<xs:element maxOccurs="1" minOccurs="1" name="postCode" type="std:PostCode"/>
<xs:element maxOccurs="1" minOccurs="1" name="city" type="std:City"/>
<xs:element maxOccurs="1" minOccurs="1" name="street" type="std:LongName"/>
<xs:element maxOccurs="1" minOccurs="0" name="country" type="std:Country"/>
<xs:element maxOccurs="1" minOccurs="0" name="phone" type="std:PhoneNumber"/>
<xs:element maxOccurs="1" minOccurs="0" name="nip" type="std:Nip"/>
<xs:element maxOccurs="1" minOccurs="0" name="contactPerson" type="std:ContactPerson"/>
<xs:element maxOccurs="1" minOccurs="0" name="email" type="std:Email"/>
<xs:element maxOccurs="1" minOccurs="0" name="paletteId" type="std:PaletteId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ColliList">
<xs:sequence>
<xs:element maxOccurs="999" minOccurs="1" name="colli" type="Colli"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Colli">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="colliId" type="ColliId"/>
<xs:element maxOccurs="1" minOccurs="1" name="name">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="packCode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="quantity">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="999"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="protection">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="weight" type="std:Weight"/>
<xs:element maxOccurs="1" minOccurs="1" name="volume">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:minInclusive value="0"/>
<xs:maxInclusive value="9000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="width" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="1" name="length" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="1" name="height" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="stack" type="xs:boolean"/>
<xs:element maxOccurs="1" minOccurs="0" name="notStandard" type="xs:boolean"/>
<xs:element maxOccurs="1" minOccurs="0" name="nstReason" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ColliId">
<xs:restriction base="xs:int">
<xs:minInclusive value="0"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="getAdrDictionaryRequest"/>
<xs:complexType name="getAdrDictionaryResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="result" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="ttSync" type="getAdrDict_ttAdrParam"/>
<xs:element maxOccurs="1" minOccurs="0" name="errNo" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="errMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAdrDict_ttAdrParam">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="AdrDictionaryItem"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdrDictionaryItem">
<xs:sequence>
<xs:element name="UNNumber" nillable="true" type="xs:string"/>
<xs:element name="ADRName" nillable="true" type="xs:string"/>
<xs:element name="packagingGroup" nillable="true" type="xs:string"/>
<xs:element name="unitOfMeasurement" nillable="true" type="xs:string"/>
<xs:element name="transportCategory" nillable="true" type="xs:int"/>
<xs:element name="priceCategory" nillable="true" type="xs:string"/>
<xs:element name="hazardClass" nillable="true" type="xs:string"/>
<xs:element name="code" nillable="true" type="xs:string"/>
<xs:element name="limit" nillable="true" type="xs:string"/>
<xs:element name="multiplier" nillable="true" type="xs:decimal"/>
<xs:element name="labels" nillable="true" type="xs:string"/>
<xs:element name="protection" nillable="true" type="xs:string"/>
<xs:element name="limitation" nillable="true" type="xs:string"/>
<xs:element name="ADRAbbreviation" nillable="true" type="xs:string"/>
<xs:element name="tunnel" nillable="true" type="xs:string"/>
<xs:element name="prohibition" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailableServicesRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="collectPostCode" type="std:PostCode"/>
<xs:element maxOccurs="1" minOccurs="0" name="deliveryPostCode" type="std:PostCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAvailableServicesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="availableService" type="AvailableService"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailableService">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="serviceCode" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="1" name="available" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDictionaryRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="name" type="Dictionary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDictionaryResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="dictionary" type="DictionaryElement"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DictionaryElement">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetDistanceRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="postCode1" type="std:PostCode"/>
<xs:element maxOccurs="1" minOccurs="1" name="postCode2" type="std:PostCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetDistanceResponse">
<xs:sequence>
<xs:element name="distance" nillable="true" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetDocumentsRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="1" name="referenceType" type="std:ReferenceType"/>
<xs:element maxOccurs="1" minOccurs="1" name="referenceNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="type" type="DocumentType"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DocumentType">
<xs:restriction base="xs:string">
<xs:maxLength value="32"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="GetDocumentsResponse">
<xs:sequence>
<xs:element name="document" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetXmlDocumentsRequest">
<xs:sequence>
<xs:element name="clientNumber" type="std:ClientId"/>
<xs:element name="referenceType" type="std:ReferenceType"/>
<xs:element name="referenceNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetXmlDocumentsResponse">
<xs:sequence>
<xs:element name="document" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getETollFactorRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="1" name="effectiveDate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getETollFactorResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="eTollFactors" type="FactorList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ETollFactorNotDefined">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="effDate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClientInactive">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getFuelFactorRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="1" name="effectiveDate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getFuelFactorResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="fuelFactors" type="FactorList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FuelFactorNotDefined">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="effDate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FactorList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="factor" type="Factor"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Factor">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="productType" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="1" name="factorValue" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMartsRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="std:ClientId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMartsResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="martList" type="MartList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MartList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="martListElement" type="MartListElement"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MartListElement">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="0" name="shortname" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="refno" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="name1" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="name2" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="postCo" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="street" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="phonCont" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="contact" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="phonMCont" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOrderStatusRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="clientId" type="std:ClientId"/>
<xs:element maxOccurs="1" minOccurs="0" name="pcReference_type" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="pcReference_number" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOrderStatusResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="result" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="pcStatus" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="pcOpis" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="piError" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="pcError" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPackageDictionaryRequest"/>
<xs:complexType name="getPackageDictionaryResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="packageDictionary" type="ColliDictionaryElement"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ColliDictionaryElement">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="packCode" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="packName" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="heightWarning" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="heightMax" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="heightDefault" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="height" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="widthWarning" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="widthMax" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="widthDefault" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="width" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="lengthWarning" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="lengthMax" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="lengthDefault" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="length" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="weightWarning" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="weightMax" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="weightDefault" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="weight" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="m3Min" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="m3Max" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="m3Default" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="isPalet" type="xs:boolean"/>
<xs:element maxOccurs="1" minOccurs="0" name="palPlace" type="xs:decimal"/>
<xs:element name="productsAllowed" nillable="true" type="xs:string"/>
<xs:element name="nameForPrint" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPalletNoRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="numerNip" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="postCode" type="std:PostCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPalletNoResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="result" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="pklieNo" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="errNo" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="errMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPostCodeInfoRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="postCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPostCodeInfoResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="result" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="offico" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="line1" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="errNo" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="errMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTrackingRequest">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="referenceType" type="std:ReferenceType"/>
<xs:element maxOccurs="1" minOccurs="1" name="referenceNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTrackingResponse">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="consignment" type="ConsignmentType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="forecastOrderRequest">
<xs:sequence>
<xs:element name="clientNo" nillable="true" type="xs:int"/>
<xs:element name="adresId" nillable="true" type="xs:int"/>
<xs:element name="forecastNo" nillable="true" type="xs:string"/>
<xs:element name="dateCollect" nillable="true" type="xs:date"/>
<xs:element name="contactCollect" nillable="true" type="xs:string"/>
<xs:element name="phoneCollect" nillable="true" type="xs:string"/>
<xs:element name="mailCollect" nillable="true" type="xs:string"/>
<xs:element name="GsmCollect" nillable="true" type="xs:string"/>
<xs:element name="ttForecastContent" nillable="true" type="forecastOrder_ttForecastContentParam"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="forecastOrderResponse">
<xs:sequence>
<xs:element name="result" nillable="true" type="xs:string"/>
<xs:element name="idForecast" nillable="true" type="xs:int"/>
<xs:element name="errNo" nillable="true" type="xs:int"/>
<xs:element name="errMessage" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="forecastOrder_ttForecastContentRow">
<xs:sequence>
<xs:element name="postCo" nillable="true" type="xs:string"/>
<xs:element name="offico" nillable="true" type="xs:string"/>
<xs:element name="palPlaceAmount" nillable="true" type="xs:decimal"/>
<xs:element name="colliAmount" nillable="true" type="xs:int"/>
<xs:element name="kG" nillable="true" type="xs:decimal"/>
<xs:element name="volume" nillable="true" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="forecastOrder_ttForecastContentParam">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ttForecastContentRow" type="forecastOrder_ttForecastContentRow"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConsignmentType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="ffRef" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="dwbN" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="dwbList">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="type" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="cgrfList">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="type" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="cgrf" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="orlo" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="delo" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="orco">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="code" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="deco">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="code" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="shpLoc" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="shpPst" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="shpCty" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="consLoc" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="consPst" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="consCty" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="deptLoc" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="deptPst" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="deptCty" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="destLoc" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="destPst" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="destCty" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="pces" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="grsw" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="product">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="code" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="eventList" type="ConsignmentEventListType"/>
</xs:sequence>
<xs:attribute name="ordType" type="xs:string"/>
</xs:complexType>
<xs:complexType name="ConsignmentEventListType">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="event" type="ConsignmentEventType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConsignmentEventType">
<xs:sequence>
<xs:element minOccurs="0" name="eventDesc" type="xs:string"/>
<xs:element minOccurs="0" name="eventType" type="xs:string"/>
<xs:element minOccurs="0" name="eventCode" type="xs:string"/>
<xs:element minOccurs="0" name="eventId" type="xs:string"/>
<xs:element minOccurs="0" name="rsn_code" type="xs:string"/>
<xs:element minOccurs="0" name="rsn_text" type="xs:string"/>
<xs:element minOccurs="0" name="stdEventCode" type="xs:string"/>
<xs:element minOccurs="0" name="eventTrip" type="xs:string"/>
<xs:element minOccurs="0" name="recipient" type="xs:string"/>
<xs:element minOccurs="0" name="place" type="xs:string"/>
<xs:element minOccurs="0" name="dispPlace" type="xs:string"/>
<xs:element minOccurs="0" name="location" type="xs:string"/>
<xs:element minOccurs="0" name="locn" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="countryName" type="xs:string"/>
<xs:element minOccurs="0" name="date" type="xs:string"/>
<xs:element minOccurs="0" name="time" type="xs:string"/>
</xs:sequence>
<xs:attribute name="seq" type="xs:string"/>
</xs:complexType>
<xs:complexType name="AdrList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" name="adr" type="Adr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Adr">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="adrUn">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{4}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="adrGroup" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="adrWeight" type="std:Weight"/>
<xs:element maxOccurs="1" minOccurs="0" name="adrColli">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="0"/>
<xs:totalDigits value="5"/>
<xs:minExclusive value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="adrPack">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="adrLq" type="xs:boolean"/>
<xs:element maxOccurs="1" minOccurs="0" name="adrNotes">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="0"/>
<xs:maxLength value="150"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="adrTechName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="KeyValuePair">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="key" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SsccList">
<xs:sequence>
<xs:element maxOccurs="999" minOccurs="0" name="sscc" type="Sscc"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Sscc">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="colliId" type="ColliId"/>
<xs:element maxOccurs="1" minOccurs="1" name="ssccNo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" name="service" type="Service"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Service">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="code">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:totalDigits value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="parameter1">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="60"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="parameter2">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="60"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="parameter3">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="300"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferenceList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" name="reference" type="Reference"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Reference">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="refType">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:totalDigits value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="refNo">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="300"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidationError">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="errorNumber" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="1" name="errorDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidationErrors">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="1" name="validationError" type="ValidationError"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenerateDocumentsError">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="validationError" type="ValidationError"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DocumentNotFound"/>
<xs:simpleType name="DataOrigin">
<xs:restriction base="xs:string">
<xs:enumeration value="WS2"/>
<xs:enumeration value="*WS2"/>
<xs:enumeration value="SC5"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Dictionary">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="60"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>